
/* fonts flagrantly pilfered from: 
https://www.antonsnyc.com/ 
(for training purposes only)*/

@font-face {
  font-family: "Butler_Bold";
  src: url(./fonts/Butler_Bold.otf);
}
@font-face {
  font-family: "Didot_Italic";
  src: url(./fonts/Didot_Italic.ttf);
}
@font-face {
  font-family: "Butler_Maybe";
  src: url(./fonts/Butler_Maybe.woff2);
}
:root {
  --sidebar-width: 16vw;
}
body {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: auto;
  grid-template-areas: "sidebar main";
  grid-gap: 12px;
}


/* SIDEBAR STYLEs */

.sidebar {
  position: fixed;
  height: 100vh;
  width: var(--sidebar-width);
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 2em;
  grid-area: sidebar;
  /* border: solid green; */
  color: #661515;
  overflow-y: hidden;
  border-right: .2px solid black;
}

.sidebar .main-nav {
  width: 80%;
  align-self: center;
}

.sidebar a {
  display: block;
  /* height: 3.3em; */
  font-family: 'Butler_Bold', serif;
  letter-spacing: .2pc;
  line-height: 1em;
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
  padding: 14px 6.5px;
  color: #aa1515;
  /* opacity: .7; */
}

.sidebar-title {
  font-family: 'Didot_Italic', cursive;
  font-style: italic;
  font-size: 3.3em;
  text-align: center;
  padding: 1em 0 .6em 0;
}

.sidebar-address {
  height: 6em;
  width: 80%;
  text-align: center;
  line-height: 1.6em;
  padding-top: .5em;
  font-family: 'Didot_Italic', Georgia, 'Times New Roman', Times, serif;
  font-style: italic; /* fallback in case Didot not avail.*/
  opacity: .6;
  align-self: center;
  border-top: .5px solid black;
  border-bottom: .5px solid black;
  margin-bottom: 2em;
}


/* MAIN CONTENT STYLEs */

.main {
  grid-area: main;
  padding: 2em 5em;
  height: 100vh;
  /* color:#661515; */
  
  /* border-left: .2px solid black; */
}
.main p, li {
  font-family: 'Butler_Bold';
  font-size: 1.4em;
  color:#996515;
}